<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jo.edu.yu.yarmouklibrary">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".view.LoginActivity"
            android:theme="@style/AppThemeNoBar" />
        <activity android:name=".view.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.MainActivity"
            android:theme="@style/AppThemeNoBar" />
        <activity android:name=".view.fines.FinesActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.MainActivity" />
        </activity>
        <activity android:name=".view.alert.AlertActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.MainActivity" />
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".view.search.SearchActivity" />
        <activity
            android:name=".view.books.BooksActivity"
            android:label="@string/title_activity_books"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.books.BookActivity"
            android:label="@string/title_activity_book"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <receiver android:name=".background.BootBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".background.AlarmReceiver"
            android:process=":remote" >
        </receiver>

        <service
            android:name=".background.SyncService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="true" />

    </application>
</manifest>